0x10 ICON "..\\IconKreator\\Dst\\Pointer.ico"
0x20 ICON "..\\IconKreator\\Dst\\Picker.ico"
0x30 ICON "..\\IconKreator\\Dst\\Access.ico"
0x40 BITMAP "..\\CursorAssembly\\Pointer.bmp"
0x50 BITMAP "..\\CursorAssembly\\Picker.bmp"
0x60 BITMAP "..\\CursorAssembly\\Test.bmp"
